<div class="comm-icon" style="background:#ee2229; width:2.5rem; height:2.5rem; font-size:0.875rem;">
    {% if c.category.name == 'Tech' %}
    <i class="fa-solid fa-laptop-code"></i>
    {% elif c.category.name == 'Music' %}
    <i class="fa-solid fa-music"></i>
    {% elif c.category.name == 'Nightlife' %}
    <i class="fa-solid fa-martini-glass"></i>
    {% elif c.category.name == 'Fashion' %}
    <i class="fa-solid fa-shirt"></i>
    {% elif c.category.name == 'Art' %}
    <i class="fa-solid fa-palette"></i>
    {% elif c.category.name == 'Food' %}
    <i class="fa-solid fa-utensils"></i>
    {% elif c.category.name == 'Christain' %}
    <i class="fa-solid fa-church"></i>
    {% endif %}
</div>