{% include "user/header.html" %}

                <!-- MAIN NOTIFICATIONS PAGE -->

                <section class="col-lg-7 offset-lg-2 notifications-page">

                    <!-- HEADER -->

                    <div class="notif-top">

                        <div>

                            <h1>Notifications</h1>

                            <p>
                                Stay updated with your events and community activity.
                            </p>

                        </div>

                        <button class="mark-read-btn">
                            Mark all as read
                        </button>

                    </div>



                    <!-- FILTER ROW -->

                    <!-- <div class="notif-filter-row">

                        <button class="notif-pill active-pill">
                            All
                        </button>

                        <button class="notif-pill">
                            Mentions
                        </button>

                        <button class="notif-pill">
                            Events
                        </button>

                        <button class="notif-pill">
                            Communities
                        </button>

                        <button class="notif-pill">
                            Messages
                        </button>

                    </div> -->



                    <!-- TODAY -->

                    <div class="notif-section-label">
                        Today
                    </div>



                   



                    <!-- CARD -->
                    {% for n in notifs %}
                    <div class="notif-card unread-notif">

                        <div class="notif-avatar">
                            <img src="{{ url_for('static', filename='uploads/' ~ n.actor.profile_pic) }}" alt="" onerror="this.style.display='none'">
                        </div>

                        <div class="notif-content">

                            <p>
                                <strong>@<a href="/profile/{{ n.actor.id }}/">{{ n.actor.username }}</a></strong>
                                
                                {% if n.type == 'follow' %}
                                followed you.
                                {% elif n.type == 'like' %}
                                liked your post.
                                {% elif n.type == 'comment' %}
                                commented on your post
                                {% elif n.type == 'event_join' %}
                                joined your event
                                {% elif n.type == 'community_invite' %}
                                invited you to a community
                                {% endif %}
                            </p>

                            <span class="notif-time">
                                <i class="fa-solid fa-calendar"></i>{{ n.created_at.strftime('%A') }} <i class="fa-regular fa-clock"></i> {{ n.created_at.strftime('%I:%m %p') }}
                            </span>

                        </div>
                        {% if n.type == 'follow' %} 
                        {% elif n.type == 'like' %}
                        {% elif n.type == 'comment' %}
                        {% elif n.type == 'event_join' %}
                        {% elif n.type == 'community_invite' %}

                        {% endif %}

                    </div>


                    {% endfor %}
                    

                    <!-- YESTERDAY -->

                    <div class="notif-section-label">
                        Yesterday
                    </div>



                   

                <!-- RIGHT SIDEBAR -->

{% set sidebar_mode = 'feed' %}
{% include "user/footer.html" %}