{% include 'user/header.html' %}
            

            <div class="col-lg-7 offset-lg-2 ce-page">

                <div class="ce-topbar">
                    <h2>Edit Community</h2>

                    <button class="ce-edit-btn" data-edit-comm="{{ comm.id }}" >
                        Edit Community
                    </button>
                </div>
                {% include 'creator/alert.html' %}
                {% if user.id == comm.creator_id %}
                <div class="ce-layout">

                    <!-- FORM -->

                    <form id="commEditForm" class="ce-form" action="" method="post" enctype="multipart/form-data">

                        <!-- COVER -->
                        {{ commform.csrf_token() }}
                        <div class="ce-card">

                            <h3>Community Branding</h3>

                            <div class="ce-cover-upload" id="ceCover">
                                <img src="/static/uploads/{{ comm.banner }}" alt="">
                                <div class="ce-cover-overlay">
                                    <button class="ep-media-btn">
                                        <i class="fa-solid fa-camera"></i>
                                        {{ commform.banner(placeholder="add Community") }}
                                    </button>
                                </div> 
                            </div>

                        </div>

                        <!-- BASIC INFO -->

                        <div class="ce-card">

                            <h3>Basic Information</h3>

                            <p>Community Name</p>
                            {{ commform.name(class_="ce-input", placeholder="Community Name") }}
                            <p>Description</p>
                            {{ commform.description(class="ce-textarea",
                            placeholder="Tell people about your community...") }}

                        </div>

                        <!-- CATEGORY -->

                        <div class="ce-card">

                        <p>Category</p>

                        <div >

                            {{ commform.cat_id(class_="ce-chip border-light") }}
                            

                        </div>

                    </div>

                        <!-- TAGS -->
                        {#
                        <div class="ce-card">

                            <h3>Community Tags</h3>

                            <input
                                type="text"
                                class="ce-input"
                                placeholder="#Afrobeats #Creatives #Networking"
                            >

                        </div>#}
                        <button class="ce-edit-btn" data-edit-comm="{{ comm.id }}">
                            Edit Community
                        </button>

                        

                    </form>

                    <!-- PREVIEW -->

                    <div class="ce-sidebar">

                        

                    </div>

                </div>
                {% else %}
                <div>
                    <h3 class="text-center">Only Community Admins can edit this community</h3>
                </div>
                {% endif %}
            </div>




            <div class="col-3 right-sidebar">
                <div class="ce-card event-preview-card">

                    <h3>Community Preview</h3>

                    <div class="preview-cover">
                        <img
                            src="/static/uploads/{{ comm.banner }}"
                            id="previewCover"
                            alt="Event Cover"
                        >
                    </div>

                    <div class="preview-content">

                        <span class="preview-category" id="previewCategory">
                            {{ comm.category.name }}
                        </span>

                        <h4 id="previewTitle">
                            {{ comm.name }}
                        </h4>

                        <div class="preview-meta">

                            <p>
                                {{ comm.description }}
                            </p>

                           
                        </div>
                        

                    </div>

                </div>

                
            </div>
            
            </div>
        </div>
    </div>

{% set sidebar_mode = 'community_form' %}
{% include 'user/footer.html' %}
